{% extends 'restaurant/index.html' %}  
{% block content %}
<title> {{menu.title}}</title>
<ul>
            <li>{{menu.dish1}}</li>
            <li>{{menu.dish2}}</li>
            <li>{{menu.desert}}</li>
            <li>{{menu.date_day}}</li>
            <li>{{average}}</li>
</ul> 
        <br>
        <ul> Comenzi:

            <table style="width:180%">
              <tr>
                <th>Nume</th>
                <th>Adresa</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Status</th>
                <th>Schimba status</th>
                <th>Rating</th>
              </tr>
            {% for obj in order_list%}
              <tr>
                <td>{{obj.name}}</td>
                <td>{{obj.adress}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.phone}}</td>
                <td>{{obj.get_status_display}}</td>
                {% if obj.status == 0 %}
                <td>
                    <a href="{% url 'restaurant:change' obj.pk  %}">Shipping</a>
                </td>
                {%else %}
                <td>
                    
                </td>
                {%endif%}
                {% if obj.raiting  %}
                    <td>{{obj.raiting}}</td>
                {%endif%}
              </tr>
            {%endfor%}
            </table>   
        </ul>  


{% endblock %}